.advantages {
  margin-bottom: 58px;
}

.advantages__title {
  margin-bottom: 28px;
}

.advantages__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.advantages__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  &:last-child {
    margin: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 100px;
    height: 86px;
  }
}
