@font-face {
  font-family: "Open sans";
  src: local("Open sans") url("../fonts/opensans.woff2") format("woff2"), url("../../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Open sans";
  src: local("Open sans Bold") url("../fonts/opensansbold.woff2") format("woff2"), url("../../fonts/opensansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

* {
  outline: 1px solid red;
}

.body {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open sans", "arial", sans-serif;
  color: @black;
  font-size: 15px;
  line-height: 30px;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: @black;
}

.subtitle {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @black;
}
