@button-color: #444444;

.button {
  display: block;
  padding: 16px 0;
  text-align: center;
  border: 2px solid @button-color;
  font-size: 17px;
  line-height: 20px;
  color: @button-color;
  text-decoration: none;
}
