.card {
  margin-bottom: 30px;

  @media (min-width: @tablet) {
    display: flex;
    gap: 30px;
  }

  @media (min-width: @desktop) {
    flex-direction: column;
  }
}

.catalog__description {
  display: flex;
  flex-direction: column;
  width: 258px;
  margin-top: -10px;
  border: 1px solid @gray;

  @media (min-width: @tablet) {
    margin-top: 0;
  }
}

.card__title {
  width: 190px;
  margin-top: 27px;
  margin-left: 28px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.card__characteristics-min {
  width: 204px;
  margin-top: 0;
  margin-bottom: 22px;
  margin-left: 28px;
  padding-bottom: 17px;
  border-bottom: 1px solid @gray;
  font-size: 13px;
  line-height: 30px;
  color: @dark-gray;
}

.card__add-price {
  display: flex;
  justify-content: space-between;
  width: 205px;
  margin-left: 28px;
}

.card__price {
  margin-bottom: 26px;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.card__add {
  width: 21px;
  height: 18px;
  background-image: url(../../img/icon-cart.svg);
}
