.contacts {
  margin-bottom: 40px;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__definition-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 33px;
  color: @dark-gray;
}

.contacts__type {
  width: 76px;
  padding-bottom: 52px;
}

.contacts__value {
  width: 184px;
  margin-left: 0;
}

.contacts__map {
  position: relative;
  margin-left: -31px;
  margin-bottom: 39px;
}

.contacts__pin {
  position: absolute;
  top: 145px;
  left: 138px;
}
