.footer {
  margin-left: auto;
  margin-right: auto;
  background-color: @light-gray;

  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding-top: 25px;
  margin-bottom: 50px;
}

.footer__copyright {
  padding-bottom: 29px;
  text-align: center;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}
