.footer {
  margin-left: auto;
  margin-right: auto;
  background-color: @light-gray;

  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo-link {
  width: 101px;
  height: 34px;
  background-image: url(../../img/logo-footer.svg);
}

.footer__copyright {
  padding-bottom: 29px;
  text-align: center;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

.copyright__link {
  width: 27px;
  height: 34px;
  background-image: url(../../img/logo-htmlacademy.svg);
}
