@gray: #ECECEC;
@black: #000000;

.main-nav__toggle {
  position: absolute;
  top: 32px;
  left: 269px;
  display: block;
  width: 20px;
  height: 14px;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list__item {
  width: 320px;
  margin: 0;
  padding: 27px 0;
  border: 1px solid @gray;
  text-align: center;
}

.nav-list__item a {
  display: inline-block;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @black;
  text-decoration: none;

  &:visited {
    color: @black;
  }
}
