.product-characteristics {
  clear: both;
  overflow: hidden;
  line-height: 20px;
}

.product-characteristics__type {
  width: 30%;
  padding-bottom: 8px;
  border-bottom: 1px solid @gray;
  font-size: 15px;
  line-height: 20px;
  color: @dark-gray;
}

.product-characteristics__value {
  width: 70%;
  margin: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid @gray;
  font-size: 15px;
  line-height: 20px;
  color: @dark-gray;
}
