.review {
  margin-bottom: 38px;
}

.review__text {
  margin-bottom: 33px;
  color: @dark-gray;
}

.review__name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.review__contact {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 30px;
}

.review__sliders {
  display: flex;
}

.review__slider-button {
  width: 130px;
  height: 52px;
  border: 1px solid @gray;
  background-color: @white;
  cursor: pointer;
}

.review__button {
  margin-bottom: 45px;
}
